<igx-grid  #grid [data]="ASTSPRF1s" [allowFiltering]="true" filterMode="excelStyleFilter">
    <igx-column *ngFor="let each of datacolumnsRPT"
        [sortable]="true"
        [field]="each.COLUMN_KEY"
        [header]="each.COLUMN_HEADER"
        [width]="each.COLUMN_WIDTH"
        [dataType]="each.COLUMN_TYPE"
        [resizable]="true"
        [editable]="each.COLUMN_EDITABLE"
        class = "column-header"
        [headerClasses] = "'column-header'"
        
    >

    <ng-template *ngIf="each.COLUMN_KEY == 'FILETYPE'" igxCell let-cell="cell">
        <div class="cell__inner_2">
            <span *ngIf="cell.value == 'PDF'">
                <img src="../../assets/images/pdf.PNG" style="min-height:20px; min-width:20px" 
                class="flag" (click)="getReport(cell)"/>
            </span>
            <span *ngIf="cell.value == 'XLS'">
                <img src="../../assets/images/xls.PNG" style="min-height:20px; min-width:20px" 
                class="flag" (click)="getReport(cell)"/>
            </span>
        </div>
    </ng-template>

    <ng-template *ngIf="each.COLUMN_KEY == 'REPORT_DATE'" igxCell let-cell="cell">
        <div class="cell__inner_2">
            <span >
                {{ cell.value | date:"MM/dd/yyyy hh:mm a" }}
            </span>
        </div>
    </ng-template>

    </igx-column>
    <igx-grid-footer>
this is the grid footer for component asfsprfg {{TITLE}}
    </igx-grid-footer>

    <igx-paginator #paginator [(page)]="grid.page" [totalRecords]="grid.totalRecords" 
    [(perPage)]="grid.perPage"
    [selectOptions]="[3, 5, 10, 15]" [displayDensity]="grid.displayDensity">
    </igx-paginator>
</igx-grid>