:host {
    width: 100%;
    height: 100%;
}

.grid__wrapper {
margin: 10px;
}

.column-header {
  background-color: dodgerblue;
}
.form {
    display: grid;
    grid-template-columns: 5% 25% 45% 25%;
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.container_title {
    background-color: palegreen;
  }

  .igx-tabs {
    min-height:600px;
  }
  
  .grid23 {
    grid-column: 2 / 3;
    // outline: 1px solid blue; /* try border-left and border-right */
  }

  .grid24 {
    grid-column: 2 / 4;
    // outline: 1px solid blue; /* try border-left and border-right */
  }

  .grid34 {
    grid-column: 3 / 4;
    // outline: 1px solid blue; /* try border-left and border-right */
  }
 
  .readonly {
    background-color: rgb(250, 250, 250);
  }

  .posting_restrictions_spacer {
    color: red;    
  }

  .posting_restrictions {
    color: red;
    // outline: 1px solid blue; /* try border-left and border-right */   
  }
